<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" name="productPrice" value="<%= product.price %>">
    <button class="btn">Add to Cart</button>
</form>
